@use '../resources/styling/palette.scss' as *;

.jd-application {
    height: 100%;

    display: flex;
    flex-direction: column;

    .jd-header {
        padding: 1em;
    }

    .jd-content {
        flex: 1;
        display: flex;
        padding: 1em;

        .jd-content-left, .jd-content-right {
            flex: 1;
            display: flex;
            align-items: stretch;
            position: relative;

            & textarea {
                font-family: "JetBrainsMono Light", "monospace";
                flex: 1;
                resize: none;
                outline-style: none;

                &:focus {
                    border-style: dashed;
                }
            }
        }

        .jd-json-error-indicator {
            position: absolute;
            width: 3ch;
            height: 3ch;
            border: 1px solid $rust;
            border-radius: 50%;
            pointer-events: none;
            user-select: none;
            transform: translate(-50%, -50%);

            animation: error-indicator 2s;
            animation-iteration-count: infinite;

            @keyframes error-indicator {
              from { border-color: rgba($alloy-orange, 0.5); border-width: 1px; }
              to   { border-color: transparent; border-width: 1.5ch; }
            }
        }
    }

    .jd-footer {
        padding: 0.3em;
        font-size: smaller;
        text-align: right;
    }
}


.btn-sample-data {
    font-size: medium;

    float: right;
}


.btn-diff, .btn-text {
    font-size: medium;

    &:before {
        color: $viridian-green;
    }
}
